@import 'tailwindcss';
/* Integra los tokens de PrimeNG en Tailwind: clases como bg-primary o text-muted-color */
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  @apply bg-surface-50 text-surface-900;
}
